<h1><%%= t(".page_title") % {model_name: <%= singular_table_name.camelize %>.model_name.human} %></h1>

<p id="notice"><%%= notice %></p>

<table class="table_base">
<% attributes.reject(&:password_digest?).each do |attribute| -%>
  <tr>
    <th><%%= <%= singular_table_name.camelize %>.human_attribute_name(:<%= attribute.name %>) %></th>
    <td><%%= @<%= singular_table_name %>.<%= attribute.name %> %></td>
  </tr>
<% end -%>
</table>

<br>

<%%= link_to t("link.edit"), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
<%%= link_to t("link.back"), <%= index_helper %>_path %>
